:root {

  --spg-100: 0.5rem;
  --spg-200: 1rem;
  --spg-300: 1.5rem;
  --spg-400: 2rem;
  --spg-500: 2.5rem;

  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-purple-950: #301534;
  --clr-purple-600: #8B6990;
  --clr-purple-100: #F8EEFF;
  --clr-purple-100: #AD28EB;

  --txt-1: 3.5rem;
  --txt-2: 1.125rem;
  --txt-3: 1rem;
}