:root {
  --spg-100: 0.5rem;
  --spg-200: 1rem;
  --spg-300: 1.5rem;
  --spg-400: 2rem;
  --spg-500: 2.5rem;

  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-purple-950: #301534;
  --clr-purple-600: #8B6990;
  --clr-purple-100: #F8EEFF;
  --clr-violet-600: #AD28EB;

  --txt-1: 3.5rem;
  --txt-2: 1.125rem;
  --txt-3: 1rem;

  --mid-size: clamp(var(--spg-300),  1.0909rem + 1.8182vw, var(--spg-500));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: "WorkSans Italics";
  src: url(./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

body {
  font-family: "WorkSans", sans-serif;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--clr-purple-100);
  margin: 0;
  padding: 0;
}

header {
  height: 15rem;
  background-image: url('./assets/images/background-pattern-mobile.svg');
}

main {
  border-radius: clamp(0.5rem, 0.1429rem + 1.7857vw, 1rem);
  padding: var(--mid-size);
  background-color: var(--clr-white);
  width: clamp(17.5rem, 6.7857rem + 53.5714vw, 32.5rem);
  margin-inline: auto;
  box-shadow: 0 32px 56px 0 rgba(80, 0, 118, 0.10);
}

.faq-section {
  margin-block-start: clamp(var(--spg-300), 1.1429rem + 1.7857vw, var(--spg-400));
}

h1,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: clamp(2rem, 1.3864rem + 2.7273vw, var(--txt-1));
  color: var(--clr-purple-950);
  display: flex;
  align-items: center;
  gap: var(--spg-300);
}

h1 img {
  width: var(--mid-size);
  height: var(--mid-size);
}

summary {
  font-size: clamp(var(--txt-3), 0.9489rem + 0.2273vw, var(--txt-2));
  color: var(--clr-purple-950);
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spg-300);


  &::after {
    content: url('./assets/images/icon-plus.svg');
  }

  [open] &::after {
    content: url('./assets/images/icon-minus.svg');
  }
}

p {
  font-size: clamp(0.875rem, 0.8239rem + 0.2273vw, var(--txt-3));
  color: var(--clr-purple-600);
}

.attribution {
  font-size: 11px;
  text-align: center;
  line-height: 1.5;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width > 40rem) {
  
  header {
    height: 20rem;
    background-image: url('./assets/images/background-pattern-desktop.svg');
  }
}